language: python
python: 
  - "3.6"
services: 
  - mysql
env: 
  -DJANGO=2.1 DB=mysql
install: 
  - pip install -r requirements.txt
before_script: 
  - mysql -e 'create database test;' -u root
script: 
  - python manage.py test
after_success:
- bash < (curl -s https://codecov.io/bash)