{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>

      <div class="formBg">
          <div class="login-page">
            <div class="userForm">
              <form class="login-form" method="post">
                {% csrf_token %}
                <h2 class="header-login"><center>Reset Password</center></h2>
                <label htmlFor="id_email">Email:</label>
                <input type="email" name="email" maxlength="254" required="" id="id_email">
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>

  </body>
</html>