{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online OH Queue</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>

      <div class="formBg">
          <div class="login-page">
            <div class="userForm">
              {% if validlink %}
              <form method="post" class="login-form" >
                {% csrf_token %}
                <h2 class="header-login"><center>Change Password</center></h2>
                <label for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" required="" id="id_new_password1" aria-autocomplete="list">
                <ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul>
                <label for="id_new_password2">New password confirmation:</label>
                <input type="password" name="new_password2" required="" id="id_new_password2">
                <button type="submit">Change password</button>
              </form>
            {% else %}
              <p class="paragraph-text">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
              </p>
            {% endif %}

            </div>
          </div>
        </div>
        <script type="text/javascript"> 
          function httpGetAsync(theUrl, callback)
          {
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.onreadystatechange = function() { 
                  if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                      callback(xmlHttp.responseText);
              }
              xmlHttp.open("GET", theUrl, true); // true for asynchronous 
              xmlHttp.send(null);
          }

          var api_path = window.location.href.replace("/password_reset/", "/api/v1/theme/");
          httpGetAsync(api_path, function(callback){
            var primary_color = JSON.parse(callback)["primary_theme_color"];
            document.body.style.setProperty('--primary-color', primary_color); 
          })        
        </script>
  </body>
</html>